<div class="news-container">
    <div class="prefix-container">
        <div class="news-outlet">{{article.outletCode}}</div>
        <div class="news-date">{{article.date.toDateString()}}</div>
    </div>
    <div class="body-container">
        <div class="news-title">{{article.title}}</div>
        <div class="prediction-container">
            <div class="prediction-info-container">
                <div class="prediction-info">
                    Predicted:
                </div>
                <div class="prediction">
                    {{article.prediction}}
                </div>
            </div>
            <div class="flags-container">
                <div [ngClass]="{
                    'none': article.prediction === 'none',
                    'neuteral': article.prediction === 'neuteral',
                    'positive': article.prediction === 'positive',
                    'negative': article.prediction === 'negative'
                }" class="impression-flag"></div>
            </div>
        </div>
        <div class="selector-container">
            <select [ngModel]="(impressionSelector | async)" (ngModelChange)="impressionSelector.next($event)">
                <option [ngValue]="'none'">None</option>
                <option [ngValue]="'neuteral'">Neuteral</option>
                <option [ngValue]="'positive'">Positive</option>
                <option [ngValue]="'negative'">Negative</option>
            </select>
            <select *ngIf="(impressionSelector | async) !== 'none'" [ngModel]="(markerSelector | async)"
                (ngModelChange)="markerSelector.next($event)">
                <option [ngValue]="'unmarked'">Unmarked</option>
                <option [ngValue]="'training'">Training</option>
                <option [ngValue]="'testing'">Testing</option>
            </select>
        </div>
        <div class="flags-container">
            <div [ngClass]="{
                'none': impressionSelector.getValue() === 'none',
                'neuteral': impressionSelector.getValue() === 'neuteral',
                'positive': impressionSelector.getValue() === 'positive',
                'negative': impressionSelector.getValue() === 'negative'
            }" class="impression-flag"></div>
            <div [ngClass]="{
                'unmarked': markerSelector.getValue() === 'unmarked',
                'training': markerSelector.getValue() === 'training',
                'testing': markerSelector.getValue() === 'testing'
            }" class="marker-flag"></div>
        </div>
    </div>
    <div *ngIf="!isApply()" [routerLink]="['/articles', article.id]" class="affix-container">
        <div class="affix-text">
            Full
        </div>
    </div>
    <div *ngIf="isApply()" (click)="onApply()" [ngClass]="{'disabled': (applyRunning | async)}"
        class="affix-container affix-apply">
        <div class="affix-text">
            Apply
        </div>
    </div>
</div>