.add-outlet-container {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    .add-outlet-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: gray;
        padding: 1rem;
        padding-inline: 2rem;
        color: white;
        border-radius: 0.5rem;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
            text-align: center;
        }

        .add-outlet-info {
            margin-left: 1rem;
            @media only screen and (max-width: 600px) {
                margin: 0;
            }
            font-size: x-large;
        }
    }

    .add-outlet-configuration {
        display: flex;
        flex-direction: column;

        .configuration-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            input:focus {
                outline: none;
            }

            .configuration-info {
                font-size: larger;
                padding: 0.5rem;
                padding-left: 1rem;
                padding-right: 2rem;
                border-right: 1pt solid black;
                min-width: 30%;
                
            }

            .configuration-input {
                margin-left: 3rem;
                margin-right: 1rem;
                width: 100%;
                padding: 0.5rem;
                border-radius: 0.5rem;

                @media only screen and (max-width: 600px) {
                    margin-inline: 2rem;
                    width: 6rem;
                }
                font-size: larger;
            }
        }
    }
}

