.outlet-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .outlet-header {
        background-color: gray;
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

        .header-info {
            .outlet-name {
                color: white;
                font-size: xx-large;
                font-weight: bold;
                margin: 1rem;
            }

            .description-container {
                display: flex;
                flex-direction: row;

                .outlet-code {
                    padding-inline: 1rem;
                    font-size: large;
                    color: lightblue;
                    border-right: 1pt solid black;

                }

                .outlet-link {
                    padding-inline: 1rem;

                    @media only screen and (max-width: 600px) {
                        max-width: 10rem;
                        overflow-x: hidden;
                    }

                    &:hover {
                        cursor: pointer;
                        color: deepskyblue;
                    }
                }
            }
        }

        .header-controls {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: auto;
            padding: 0.2rem;

            @media only screen and (max-width: 600px) {
                flex-direction: row;
            }
        }
    }

    .outlet-body {
        margin: 2rem 0 2rem 0;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: lightgray;

        .configs-container {
            display: flex;
            flex-direction: column;

            .configs-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: gray;
                margin: 0.5rem 0 0.5rem 0;
                padding: 0.5rem;
                border-radius: 0.5rem;
                color: white;

                @media only screen and (max-width: 600px) {
                    flex-direction: column;
                    justify-content: center;
                }

                .config-name {
                    padding-inline: 1rem;
                    border-right: 1pt solid black;
                    font-size: larger;
                    min-width: 30%;
                    @media only screen and (max-width: 800px) {
                        align-self: center;
                        align-self: stretch;
                        text-align: center;
                        padding: 1rem;
                    }
                    
                    @media only screen and (max-width: 600px) {
                        border-right: 0;
                        margin: 0.5rem;
                        padding: 1rem;
                        justify-self: stretch;
                        border-bottom: 1pt solid black;
                    }
                }

                .mobile-wrapper {
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    align-items: center;
                    @media only screen and (max-width: 800px) {
                        flex-direction: column;
                        justify-items: center;
                    }

                    .config-display {
                        padding: 0.5rem;
                        margin-inline: 1rem;
                        background-color: white;
                        min-width: 5%;
                        min-height: 1rem;
                        text-align: center;
                        color: black;
                        border-radius: 0.4rem;
    
                        @media only screen and (max-width: 800px) {
                            margin: 0.5rem;
                            flex-direction: column;
                        }
                    }
    
                    input {
                        @media only screen and (max-width: 800px) {
                            padding: 0.4rem;
                            border-radius: 0.5rem;
                            margin: 1rem;
                        }
                    }
                    input:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}