<div class="chart">
    <div class="chart-title">
        Impressions Per Day
    </div>
    <div class="chart-info">
        <span style="color: green;">Green</span> - is positive, <span style="color: yellow;">Yellow</span> - is neuteral, <span style="color: brown;">Red</span> - is negative.
    </div>
    <div id="perDayContainer"></div>
</div>
<div class="chart">
    <div class="chart-title">
        Impressions Overall
    </div>
    <div id="overallContainer"></div>
</div>
<div class="chart">
    <div class="chart-title">
        Impressions Change Per Day
    </div>
    <div id="changeContainer"></div>
</div>