.chart {
    margin: 1rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    text-align: center;

    .chart-title {
        margin: 1rem;
        font-size: xx-large;
        font-weight: bold;
    }

    .chart-info {   
        margin-bottom: 1rem;
        margin-left: 4rem;
    }
}