<app-section-controls [controls]="controls"></app-section-controls>
<app-pagination 
    *ngIf="pageNumbers.length > 1" 
    [itemsPerPage]="itemsPerPage" 
    [pageNumbers]="pageNumbers"
    [section]="section">
</app-pagination>
<app-articles-page 
    [itemsPerPage]="itemsPerPage"
    [markFilter]="markFilter"
    [impressionFilter]="impressionFilter">
</app-articles-page>
<app-pagination 
    *ngIf="pageNumbers.length > 1" 
    [itemsPerPage]="itemsPerPage" 
    [pageNumbers]="pageNumbers"
    [section]="section">
</app-pagination>