<div class="header-container">
    <a class="header-logo" routerLink="/">News Sniffer</a>

    <div class="nav-container">
        <div class="nav-item" routerLink="/articles" routerLinkActive="active">
            Articles
        </div>
        <div class="nav-item" routerLink="/outlets" routerLinkActive="active">
            Outlets
        </div>
        <div class="nav-item" routerLink="/training" routerLinkActive="active">
            Training
        </div>
        <div class="nav-item" routerLink="/analytics" routerLinkActive="active">
            Analytics
        </div>
    </div>
</div>