<div class="test-container">
    <div class="test-controls-container">
        <div class="test-info-container">
            <div class="test-info">
                Consider trying out applied data before irreversably damaging the database.
            </div>
            <div class="test-info">
                This test pulls first article or displays errors.
            </div>
        </div>
        <app-generic-button
            [content]="'Execute'" 
            [style]="'large bold'"
            (click)="onExecute()" 
            [disableAsync]="testRunning"
            class="test-execute">
        </app-generic-button>
    </div>
    <div class="test-results-container">
        <div class="test-results">{{testResults | json}}</div>
    </div>
</div>