.pagination-container {
    display: flex;
    justify-content: center;
    background-color: gray;
    color: white;
    padding: 0.2rem;

    .select-container {
        padding: 0.2rem;
        margin-inline: 1rem;
        select {
            :focus {
                border: none;
            }
        }
    }
    .controls-container {
        display: flex;
        border-right: 2pt solid black;
        
        .page-button {
            margin-inline: 0.2rem;
            padding: 0.2rem;
            border-radius: 0.2rem;
            &:hover {
                background-color: dimgray;
                cursor: pointer;
            }
        }
        
        .wildcard {
            font-size: larger;

        }
    }

    .active-page {
        background-color: darkorange;
        color: white;
    }
}