<div class="controls-container">
    <div *ngFor="let control of controls">
        <div *ngIf="control.type === 'info'" 
            [ngClass]="control.style"
            class="control-info">
            {{control.text[0]}}
        </div>
        <div *ngIf="control.type === 'button'">
            <app-generic-button
                [content]="control.text[0]"
                (click)="control.action.call(this, control.stage)"
                [style]="control.style"
                [disableAsync]="control.stage"
            ></app-generic-button>
        </div>
        <div *ngIf="control.type === 'select'" class="control-select">
            <select [ngModel]="(control.stage | async)"
                (ngModelChange)="control.action.call(this, $event)">
                <option *ngFor="let option of control.text"
                    [ngValue]="option">
                    {{option}}
                </option>
            </select>
        </div>
    </div>
</div>